/*-----------------------------------------

    << Glass CSS >>
    
    Created by h8rt3rmin8r
    (https://h8rt3rmin8r.com)
    
-----------------------------------------*/

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/

@media (max-width: 768px) {
    html,
    body {
        width: auto !important;
        overflow-x: hidden !important;
    }
}

body {
    background: #fff;
    color: #666666;
    font-family: "Ubuntu", sans-serif;
}

a {
    color: #3E9C50;
    transition: 0.5s;
}

a:hover,
a:active,
a:focus {
    color: #3E9C50;
    outline: none;
    text-decoration: none;
}

p {
    padding: 0;
    margin: 0 0 30px 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    margin: 0 0 20px 0;
    padding: 0;
}

/* Prelaoder */

#preloader {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    overflow: visible;
    background: #fff url("../img/preloader.svg") no-repeat center center;
}

/* Back to top button */

.back-to-top {
    position: fixed;
    display: none;
    background: rgba(0, 0, 0, 0.2);
    color: #fff;
    padding: 6px 12px 9px 12px;
    font-size: 16px;
    border-radius: 2px;
    right: 15px;
    bottom: 15px;
    transition: background 0.5s;
}

@media (max-width: 768px) {
    .back-to-top {
        bottom: 15px;
    }
}

.back-to-top:focus {
    background: rgba(0, 0, 0, 0.2);
    color: #fff;
    outline: none;
}

.back-to-top:hover {
    background: #3E9C50;
    color: #fff;
}

/*--------------------------------------------------------------
# Welcome
--------------------------------------------------------------*/

#intro-background {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url("../img/blockchain-world.jpg") no-repeat;
    background-size: cover;
}

#hero {
    display: table;
    width: 100%;
    height: 860px;
}

#hero .hero-logo {
    margin: 20px;
}

#hero .hero-logo img {
    max-width: 100%;
}

#hero .hero-container {
    background: linear-gradient(to bottom right, rgba(0, 0, 0, 0.733), rgba(72, 117, 194, 0.726));
    display: table-cell;
    margin: 0;
    padding: 0;
    text-align: center;
    vertical-align: middle;
}

#hero h1 {
    margin: 30px 0 10px 0;
    font-weight: 700;
    font-size: 50px;
    line-height: 48px;
    text-transform: uppercase;
    color: #fff;
}

@media (max-width: 768px) {
    #hero h1 {
        font-size: 28px;
        line-height: 36px;
    }
    #hero h2 {
        font-size: 24px;
        line-height: 26px;
        margin-bottom: 30px;
    }
    #hero h2 .rotating {
        display: block;
    }
    #hero {
        height: 700px;
    }
}

#hero h2 {
    color: #fff;
    margin-bottom: 50px;
}

#hero .rotating>.animated {
    display: inline-block;
}

#hero .actions a {
    font-family: "Verdana", sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 20px;
    border-radius: 2px;
    transition: 0.5s;
    margin: 10px;
}

#hero .btn-get-started {
    background: #3E9C50;
    border: 2px solid #3E9C50;
    color: #fff;
}

#hero .btn-get-started:hover {
    background: none;
    border: 2px solid #fff;
    color: #fff;
}

#hero .btn-services {
    border: 2px solid #fff;
    color: #fff;
}

#hero .btn-services:hover {
    background: #3E9C50;
    border: 2px solid #3E9C50;
}

/*--------------------------------------------------------------
# Welcome (Variation)
--------------------------------------------------------------*/

#intro-backgroundB {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url("../blockchain-world-dark2.jpg") no-repeat;
    background-size: cover;
}

#heroB {
    display: table;
    width: 100%;
    height: 860px;
}

#heroB .heroB-logo {
    margin: 20px;
}

#heroB .heroB-logo img {
    max-width: 100%;
}

#heroB .heroB-container {
    /* Color overlay is removed in heroB */
    display: table-cell;
    margin: 0;
    padding: 0;
    text-align: center;
    vertical-align: middle;
}

#heroB h1 {
    margin: 30px 0 10px 0;
    font-weight: 700;
    font-size: 50px;
    line-height: 48px;
    text-transform: uppercase;
    color: #fff;
}

@media (max-width: 768px) {
    #heroB h1 {
        font-size: 28px;
        line-height: 36px;
    }
    #heroB h2 {
        font-size: 24px;
        line-height: 26px;
        margin-bottom: 30px;
    }
    #heroB h2 .rotating {
        display: block;
    }
    #heroB {
        height: 350px;
    }
}

#heroB h2 {
    color: #fff;
    margin-bottom: 50px;
}

#heroB .rotating>.animated {
    display: inline-block;
}

#heroB .actions a {
    font-family: "Verdana", sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 20px;
    border-radius: 2px;
    transition: 0.5s;
    margin: 10px;
}

#heroB .btn-get-started {
    font-family: 'Ubuntu', sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    border-radius: 2px;
    transition: 0.5s;
    margin: 10px;
    min-width: 190px;
    border: 2px solid #3E9C50;
    color: #3E9C50;
    background: rgba(0, 0, 0, 0.678);
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#heroB .btn-get-started:hover {
    background: rgba(255, 255, 255, 0);
    border: 2px solid rgba(0, 0, 0, 0);
    color: white;
}

#heroB .btn-services {
    border: 2px solid #fff;
    color: #fff;
}

#heroB .btn-services:hover {
    background: #3E9C50;
    border: 2px solid #3E9C50;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

#header {
    background: white;
    padding: 20px 0;
    height: 90px;
    width: 100%;
}

#header #logo {
    float: left;
}

#header #logo h1 {
    font-size: 36px;
    margin: 0;
    padding: 6px 0;
    line-height: 1;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    letter-spacing: 3px;
    text-transform: uppercase;
}

#header #logo h1 a,
#header #logo h1 a:hover {
    color: #fff;
}

#header #logo img {
    padding: 0;
    margin: 0;
    max-height: 50px;
}

@media (max-width: 768px) {
    #header {
        height: 80px;
    }
    #header #logo h1 {
        font-size: 26px;
    }
    #header #logo img {
        max-height: 40px;
    }
}

.is-sticky #header {
    background: rgb(255, 255, 255);
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/

/* Nav Menu Essentials */

.nav-menu,
.nav-menu * {
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav-menu ul {
    position: absolute;
    display: none;
    top: 100%;
    left: 0;
    z-index: 99;
}

.nav-menu li {
    position: relative;
    white-space: nowrap;
}

.nav-menu>li {
    float: left;
}

.nav-menu li:hover>ul,
.nav-menu li.sfHover>ul {
    display: block;
}

.nav-menu ul ul {
    top: 0;
    left: 100%;
}

.nav-menu ul li {
    min-width: 180px;
}

/* Nav Menu Arrows */

.sf-arrows .sf-with-ul {
    padding-right: 30px;
}

.sf-arrows .sf-with-ul:after {
    content: "\f107";
    position: absolute;
    right: 15px;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
}

.sf-arrows ul .sf-with-ul:after {
    content: "\f105";
}

/* Nav Meu Container */

#nav-menu-container {
    float: right;
    margin: 5px 0;
}

@media (max-width: 768px) {
    #nav-menu-container {
        display: none;
    }
}

/* Nav Menu Styling */

.nav-menu a {
    padding: 10px 15px;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    color: #4874C2;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    font-size: 15px;
    outline: none;
}

.nav-menu a:hover,
.nav-menu li:hover>a,
.nav-menu .menu-active>a {
    color: #3E9C50;
}

.nav-menu ul {
    margin: 4px 0 0 15px;
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.08);
}

.nav-menu ul li {
    background: #fff;
    border-top: 1px solid #f4f4f4;
    border-bottom: 1px solid #111;
}

.nav-menu ul li:first-child {
    border-top: 0;
}

.nav-menu ul li:hover {
    background: #f6f6f6;
}

.nav-menu ul li a {
    color: #333;
}

.nav-menu ul ul {
    margin: 0;
}

/* Mobile Nav Toggle */

#mobile-nav-toggle {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 999;
    margin: 20px 20px 0 0;
    border: 0;
    background: none;
    font-size: 24px;
    display: none;
    transition: all 0.4s;
    outline: none;
}

#mobile-nav-toggle i {
    color: #3E9C50;
}

@media (max-width: 768px) {
    #mobile-nav-toggle {
        display: inline;
    }
}

/* Mobile Nav Styling */

#mobile-nav {
    position: fixed;
    top: 0;
    padding-top: 18px;
    bottom: 0;
    z-index: 998;
    background: rgba(0, 0, 0, 0.9);
    left: -260px;
    width: 260px;
    overflow-y: auto;
    transition: 0.4s;
}

#mobile-nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

#mobile-nav ul li {
    position: relative;
}

#mobile-nav ul li a {
    color: #fff;
    font-size: 25px;
    overflow: hidden;
    padding: 10px 22px 10px 15px;
    position: relative;
    text-decoration: none;
    width: 100%;
    display: block;
    outline: none;
}

#mobile-nav ul li a:hover {
    color: #fff;
}

#mobile-nav ul li li {
    padding-left: 30px;
}

#mobile-nav ul .menu-has-children i {
    position: absolute;
    right: 0;
    z-index: 99;
    padding: 15px;
    cursor: pointer;
    color: #fff;
}

#mobile-nav ul .menu-has-children i.fa-chevron-up {
    color: #3E9C50;
}

#mobile-nav ul .menu-item-active {
    color: #3E9C50;
}

#mobile-body-overly {
    width: 100%;
    height: 100%;
    z-index: 997;
    top: 0;
    left: 0;
    position: fixed;
    background: rgba(0, 0, 0, 0.6);
    display: none;
}

/* Mobile Nav body classes */

body.mobile-nav-active {
    overflow: hidden;
}

body.mobile-nav-active #mobile-nav {
    left: 0;
}

body.mobile-nav-active #mobile-nav-toggle {
    color: #fff;
}

/*--------------------------------------------------------------
# Sections
--------------------------------------------------------------*/

/* Sections Common
--------------------------------*/

.section-title {
    font-size: 32px;
    color: #111;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
}

.section-description {
    text-align: center;
    font-size: 22px;
    margin-bottom: 40px;
}

.section-title-divider {
    width: 50px;
    height: 3px;
    background: #3E9C50;
    margin: 0 auto;
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    .section-description {
        margin-left: 20px;
        margin-right: 20px;
        font-size: 20px;
    }
}

/* Intro Section (SECTION A)
--------------------------------*/

#intro {
    background: linear-gradient(#4874C2, rgba(0, 0, 0, 0.6)), url(../img/electron-blockchain.jpg) fixed center center;
    background-size: cover;
    padding: 80px 0;
}

#intro .intro-title {
    color: #fff;
    font-size: 28px;
    font-weight: 700;
}

#intro .intro-text {
    color: #fff;
}

#intro .intro-btn-container {
    text-align: center;
    padding-top: 20px;
}

#intro .intro-btn {
    font-family: 'Ubuntu', sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 20px;
    border-radius: 2px;
    transition: 0.5s;
    margin: 10px;
    background: #3E9C50;
    border: 2px solid #3E9C50;
    color: #fff;
}

#intro .intro-btn:hover {
    background: rgba(0, 0, 0, 0);
    border: 2px solid #fff;
}

@media (max-width: 768px) {
    #intro .intro-title {
        text-align: center;
    }
    #intro .intro-text {
        text-align: center;
        padding-top: 30px;
    }
}

/* Intro Section (SECTION B)
--------------------------------*/

#introB {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/electron-blockchain.jpg) fixed center center;
    background-size: cover;
    padding: 80px 0;
}

#introB .intro-title {
    color: #fff;
    font-size: 28px;
    font-weight: 700;
}

#introB .intro-text {
    color: #fff;
}

#introB .intro-btn-container {
    text-align: center;
    padding-top: 20px;
}

#introB .intro-btn {
    font-family: 'Ubuntu', sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 20px;
    border-radius: 2px;
    transition: 0.5s;
    margin: 10px;
    background: #3E9C50;
    border: 2px solid #3E9C50;
    color: #fff;
}

#introB .intro-btn:hover {
    background: rgba(0, 0, 0, 0);
    border: 2px solid #fff;
}

@media (max-width: 768px) {
    #introB .intro-title {
        text-align: center;
    }
    #introB .intro-text {
        text-align: center;
        padding-top: 30px;
    }
}

/* Intro Section (SECTION C)
--------------------------------*/

#introC {
    background: linear-gradient(rgba(0, 0, 0, 0.6), #4874C2), url(../img/electron-blockchain.jpg) fixed center center;
    background-size: cover;
    padding: 80px 0;
}

#introC .intro-title {
    color: #fff;
    font-size: 28px;
    font-weight: 700;
}

#introC .intro-text {
    color: #fff;
}

#introC .intro-btn-container {
    text-align: center;
    padding-top: 20px;
}

#introC .intro-btn {
    font-family: 'Ubuntu', sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 20px;
    border-radius: 2px;
    transition: 0.5s;
    margin: 10px;
    background: #3E9C50;
    border: 2px solid #3E9C50;
    color: #fff;
}

#introC .intro-btn:hover {
    background: rgba(0, 0, 0, 0);
    border: 2px solid #fff;
}

@media (max-width: 768px) {
    #introC .intro-title {
        text-align: center;
    }
    #introC .intro-text {
        text-align: center;
        padding-top: 30px;
    }
}

/* About Section
--------------------------------*/

#about {
    background: #fff;
    padding: 80px 0;
    height: 580px;
}

#about .about-content {
    background: #fff;
}

#about .about-title {
    color: #333;
    font-weight: 700;
    font-size: 28px;
}

#about .about-text1 {
    font-size: 18px;
    line-height: 26px;
    text-align: justify;
}

#about .about-text2 {
    font-size: 18px;
    line-height: 26px;
    text-align: justify;
}

@media (max-width:768px) {
    #about .about-text1 {
        margin-left: 20px;
        margin-right: 20px;
    }
    #about .about-text2 {
        margin-left: 20px;
        margin-right: 20px;
    }
    #about {
        padding-bottom: 680px;
    }
}

#about .about-text:last-child {
    margin-bottom: 0;
}

#about img {
    display: block;
    max-width: 100%;
    height: auto;
}

#about .about-btn-container {
    text-align: center;
    padding-top: 20px;
}

#about .about-btn {
    font-family: 'Ubuntu', sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 20px;
    border-radius: 2px;
    transition: 0.5s;
    margin: 10px;
    background: #fff;
    border: 2px solid #3E9C50;
    color: #3E9C50;
}

#about .about-btn:hover {
    background: #fff;
    border: 2px solid rgba(0, 0, 0, 0);
}

/* AboutB Section
--------------------------------*/

#aboutB {
    background: #fff;
    padding: 80px 0;
    height: 580px;
}

#aboutB .about-content {
    background: #fff;
}

#aboutB .about-title {
    color: #333;
    font-weight: 700;
    font-size: 28px;
}

#aboutB .about-text1 {
    font-size: 18px;
    line-height: 26px;
    text-align: justify;
}

#aboutB .about-text2 {
    font-size: 18px;
    line-height: 26px;
    text-align: justify;
}

@media (max-width:768px) {
    #aboutB .about-text1 {
        margin-left: 20px;
        margin-right: 20px;
    }
    #aboutB .about-text2 {
        margin-left: 20px;
        margin-right: 20px;
    }
    #aboutB {
        padding-bottom: 680px;
    }
}

#aboutB .about-text:last-child {
    margin-bottom: 0;
}

#aboutB img {
    display: block;
    max-width: 100%;
    height: auto;
}

#aboutB .about-btn-container {
    text-align: center;
    padding-top: 20px;
}

#aboutB .about-btn {
    font-family: 'Ubuntu', sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 20px;
    border-radius: 2px;
    transition: 0.5s;
    margin: 10px;
    background: #fff;
    border: 2px solid #3E9C50;
    color: #3E9C50;
}

#aboutB .about-btn:hover {
    background: #fff;
    border: 2px solid #3E9C50;
}

/* Glass Section
--------------------------------*/

#glass {
    background: rgba(255, 255, 255, 0);
    padding: 80px 0;
    height: 300px;
}

#glass .glass-content {
    background: rgba(0, 0, 0, 0.678);
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#glass .glass-title {
    color: rgb(255, 255, 255);
    font-weight: 750;
    font-size: 30px;
}

#glass .glass-titleB {
    color: #4874C2;
    font-weight: 750;
    font-size: 30px;
}

#glass .glass-titleC {
    color: #3E9C50;
    font-weight: 750;
    font-size: 30px;
}

#glass .glass-text {
    color: rgb(255, 255, 255);
    font-size: 18px;
    line-height: 26px;
    text-align: left;
}

#glass .glass-textB {
    color: #4874C2;
    font-size: 18px;
    line-height: 26px;
    text-align: left;
}

#glass .glass-textC {
    color: #3E9C50;
    font-size: 18px;
    line-height: 26px;
    text-align: left;
}

@media (max-width:768px) {
    #glass .glass-text {
        margin-left: 20px;
        margin-right: 20px;
    }
    #glass .glass-textB {
        margin-left: 20px;
        margin-right: 20px;
    }
    #glass .glass-textC {
        margin-left: 20px;
        margin-right: 20px;
    }
    #glass {
        padding-bottom: 300px;
    }
}

#glass .glass-text:last-child {
    margin-bottom: 0;
}

#glass img {
    display: block;
    max-width: 100%;
    height: auto;
}

#glass .glass-btn-container {
    text-align: center;
    padding-top: 20px;
}

#glass .glass-btn {
    font-family: 'Ubuntu', sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    border-radius: 2px;
    transition: 0.5s;
    margin: 10px;
    min-width: 190px;
    border: 2px solid #3E9C50;
    color: #3E9C50;
    background: rgba(0, 0, 0, 0.678);
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#glass .glass-btn:hover {
    background: rgba(255, 255, 255, 0);
    border: 2px solid rgba(0, 0, 0, 0);
    color: white;
}

#glass .glass-btn-B {
    font-family: 'Ubuntu', sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    border-radius: 2px;
    transition: 0.5s;
    margin: 10px;
    min-width: 190px;
    border: 2px solid #4874C2;
    color: #4874C2;
    background: rgba(0, 0, 0, 0.678);
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#glass .glass-btn-B:hover {
    background: rgba(255, 255, 255, 0);
    border: 2px solid rgba(0, 0, 0, 0);
    color: white;
}

/* Services Section
--------------------------------*/

#services {
    background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url("../img/plexus.png") fixed center center;
    background-size: cover;
    padding: 80px 0;
    height: 580px;
}

@media (max-width: 768px) {
    #services {
        padding-top: 50px;
        padding-bottom: 1150px;
    }
}

@media (max-width: 426px) {
    #services {
        padding-bottom: 1240px;
    }
}

@media (max-width: 376px) {
    #services {
        padding-bottom: 1260px;
    }
}

@media (max-width: 321px) {
    #services {
        padding-bottom: 1450px;
    }
}

#services .service-item {
    margin-bottom: 20px;
}

#services .service-title {
    margin-left: 80px;
    font-weight: 700;
    margin-bottom: 15px;
    text-transform: uppercase;
}

#services .service-title a {
    color: #111;
}

#services .service-description {
    margin-left: 80px;
    line-height: 24px;
}

.serviceBox {
    text-align: center;
    margin-top: 60px;
    position: relative;
    z-index: 1;
    margin-bottom: 21px;
}

.serviceBox .service-icon {
    width: 78px;
    height: 78px;
    border-radius: 3px;
    background: #fff;
    margin: 0 auto;
    position: absolute;
    top: -34px;
    left: 0;
    right: 0;
    z-index: 1;
    transition: all 0.3s ease-out 0s;
}

.serviceBox:hover .service-icon {
    transform: rotate(45deg);
}

.serviceBox .service-icon span {
    display: inline-block;
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 3px;
    background: #3E9C50;
    font-size: 30px;
    color: #fff;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    transition: all 0.3s ease-out 0s;
}

.serviceBox .service-icon span i {
    transition: all 0.3s ease-out 0s;
}

.serviceBox:hover .service-icon span i {
    transform: rotate(-45deg);
}

.serviceBox .service-content {
    background: #fff;
    border: 1px solid #e7e7e7;
    border-radius: 3px;
    padding: 55px 15px;
    position: relative;
}

.serviceBox .service-content:before {
    content: "";
    display: block;
    width: 80px;
    height: 80px;
    border: 1px solid #e7e7e7;
    border-radius: 3px;
    margin: 0 auto;
    position: absolute;
    top: -37px;
    left: 0;
    right: 0;
    z-index: -1;
    transition: all 0.3s ease-out 0s;
}

.serviceBox:hover .service-content:before {
    transform: rotate(45deg);
}

.serviceBox .title {
    font-size: 20px;
    font-weight: 550;
    color: rgb(94, 94, 94);
    text-transform: uppercase;
    margin: 0 0 25px 0;
    position: relative;
    transition: all 0.3s ease-out 0s;
}

.serviceBox:hover .title {
    color: #3E9C50;
}

.serviceBox .description {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    margin-bottom: 0;
}

.serviceBox .read-more {
    display: block;
    width: 40px;
    height: 40px;
    line-height: 38px;
    border-radius: 50%;
    background: #fff;
    border: 1px solid #e7e7e7;
    font-size: 20px;
    color: #c4c2c2;
    margin: 0 auto;
    position: absolute;
    bottom: -17px;
    left: 0;
    right: 0;
    transition: all 0.3s ease-out 0s;
}

.serviceBox .read-more:hover {
    border: 1px solid #3E9C50;
    color: #3E9C50;
    text-decoration: none;
}

/* ICO Section
--------------------------------*/

#ico {
    background: linear-gradient(#4874C2, rgba(0, 0, 0, 0.6)), url(../img/electron-blockchain.jpg) fixed center center;
    background-size: cover;
    padding: 80px 0;
    height: 290px;
}

@media (max-width: 768px) {
    #ico {
        padding-bottom: 250px;
    }
}

@media (max-width: 321px) {
    #ico {
        padding-bottom: 350px;
    }
}

#ico .ico-title {
    color: #fff;
    font-size: 28px;
    font-weight: 700;
}

#ico .ico-text {
    color: #fff;
    font-size: 16px;
}

#ico .ico-btn-container {
    text-align: center;
    padding-top: 20px;
}

#ico .ico-btn {
    font-family: 'Ubuntu', sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 20px;
    border-radius: 2px;
    transition: 0.5s;
    margin: 10px;
    background: #3E9C50;
    border: 2px solid #3E9C50;
    color: #fff;
}

#ico .ico-btn:hover {
    background: rgba(0, 0, 0, 0);
    border: 2px solid #fff;
}

/* Team Section
--------------------------------*/

#team {
    background: #fff;
    padding: 80px 0;
    height: 1170px;
}

@media (max-width: 769px) {
    #team {
        padding-bottom: 1780px;
    }
}

@media (max-width: 426px) {
    #team {
        padding-bottom: 3290px;
    }
}

@media (max-width: 376px) {
    #team {
        padding-bottom: 3290px;
    }
}

@media (max-width: 321px) {
    #team {
        padding-bottom: 3290px;
    }
}

#team .member {
    text-align: center;
    margin-bottom: 20px;
}

#team .member .pic {
    margin-bottom: 15px;
    overflow: hidden;
    height: auto;
    max-width: 100%;
}

#team .member .pic img {
    max-width: 200px;
    width: 100%;
    max-height: 200px;
    height: auto;
    -webkit-filter: grayscale(100%);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

#team .member h4 {
    font-weight: 700;
    margin-bottom: 2px;
}

#team .member span {
    font-style: italic;
    display: block;
    font-size: 13px;
}

#team .member .social {
    margin-top: 15px;
}

#team .member .social a {
    color: #3E9C50;
}

#team .member .social a:hover {
    color: #b3b3b3;
}

#team .member .social i {
    font-size: 18px;
    margin: 0 2px;
}

/* Intern Section
--------------------------------*/

#intern {
    background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url("../img/plexus.png") fixed center center;
    background-size: cover;
    padding: 80px 0;
    height: 100%;
}

@media (max-width: 769px) {
    #intern {
        padding-bottom: 1780px;
    }
}

@media (max-width: 426px) {
    #intern {
        padding-bottom: 3290px;
    }
}

@media (max-width: 376px) {
    #intern {
        padding-bottom: 3290px;
    }
}

@media (max-width: 321px) {
    #intern {
        padding-bottom: 3290px;
    }
}

#intern .member {
    text-align: center;
    margin-bottom: 20px;
}

#intern .member .pic {
    margin-bottom: 15px;
    overflow: hidden;
    height: auto;
    max-width: 100%;
}

#intern .member .pic img {
    max-width: 200px;
    width: 100%;
    max-height: 200px;
    height: auto;
    -webkit-filter: grayscale(100%);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

#intern .member h4 {
    font-weight: 700;
    margin-bottom: 2px;
}

#intern .member span {
    font-style: italic;
    display: block;
    font-size: 13px;
}

#intern .member .social {
    margin-top: 15px;
}

#intern .member .social a {
    color: #3E9C50;
}

#intern .member .social a:hover {
    color: #b3b3b3;
}

#intern .member .social i {
    font-size: 18px;
    margin: 0 2px;
}

img#myimg {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 1;
    transition: .5s ease;
}

div:hover.pic {
    opacity: .7;
    cursor: pointer;
}

#Intern_wallet:hover img {
    opacity: .7;
    cursor: pointer;
}

#intern .intern-btn {
    font-family: 'Ubuntu', sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 20px;
    border-radius: 2px;
    transition: 0.5s;
    margin: 10px;
    background: #3E9C50;
    border: 2px solid #3E9C50;
    color: #fff;
}

#intern .intern-btn:hover {
    background: #fff;
    border: 2px solid #3E9C50;
    color: #3E9C50;
}

#Intern_wallet .internwallet-btn {
    font-family: 'Ubuntu', sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 20px;
    border-radius: 2px;
    transition: 0.5s;
    margin: 10px;
    background: #3E9C50;
    border: 2px solid #3E9C50;
    color: #fff;
}

#Intern_wallet .internwallet-btn:hover {
    background: #fff;
    border: 2px solid #3E9C50;
    color: #3E9C50;
}

/* Network Section
--------------------------------*/

#network {
    background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url("../img/plexus.png") fixed center center;
    background-size: cover;
    padding: 80px 0;
    height: 500px;
}

@media (max-width: 769px) {
    #network {
        height: 450px;
    }
}

@media (max-width: 321px) {
    #network {
        height: 450px;
    }
}

#network .network-title {
    color: #fff;
    font-size: 28px;
    font-weight: 700;
}

#network .network-text {
    color: #fff;
    font-size: 16px;
}

#network .network-btn-container {
    text-align: center;
    padding-top: 20px;
}

#network .network-btn {
    font-family: 'Ubuntu', sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 20px;
    border-radius: 2px;
    transition: 0.5s;
    margin: 10px;
    background: #3E9C50;
    border: 2px solid #3E9C50;
    color: #fff;
}

#network .network-btn:hover {
    background: rgba(0, 0, 0, 0);
    border: 2px solid #fff;
}

/* Slider */

.slick-slide {
    margin: 0px 0px;
}

.slick-slide img {
    width: 100%;
    max-width: 150px;
    height: 100%;
    max-height: 150px;
    float: center;
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
    background: none;
    background-size: cover;
}

.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.slick-list:focus {
    outline: none;
}

.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
}

.slick-track:before,
.slick-track:after {
    display: table;
    content: '';
}

.slick-track:after {
    clear: both;
}

.slick-loading .slick-track {
    visibility: hidden;
}

.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}

[dir='rtl'] .slick-slide {
    float: right;
}

.slick-slide img {
    display: block;
}

.slick-slide.slick-loading img {
    display: none;
}

.slick-slide.dragging img {
    pointer-events: none;
}

.slick-initialized .slick-slide {
    display: block;
}

.slick-loading .slick-slide {
    visibility: hidden;
}

.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
    display: none;
}

/* Contact Section
--------------------------------*/

#contact {
    background: #f7f7f7;
    padding: 80px 0;
    height: 700px;
}

#contact .social {
    text-align: center;
}

#contact .social i {
    font-size: 40px;
    color: #3E9C50;
    line-height: 24px;
    cursor: pointer;
    padding-right: 20px;
    padding-left: 20px;
}

#contact .social i:hover {
    background: none;
    color: #b3b3b3;
}

#contact .info {
    color: #333333;
}

#contact .info i {
    font-size: 32px;
    color: #4874C2;
    float: left;
}

#contact .info p {
    padding: 0 0 10px 50px;
    line-height: 24px;
}

#contact .form #sendmessage {
    color: #3E9C50;
    border: 1px solid #3E9C50;
    display: none;
    text-align: center;
    padding: 15px;
    font-weight: 600;
    margin-bottom: 15px;
}

#contact .form #errormessage {
    color: red;
    display: none;
    border: 1px solid red;
    text-align: center;
    padding: 15px;
    font-weight: 600;
    margin-bottom: 15px;
}

#contact .form #sendmessage.show,
#contact .form #errormessage.show,
#contact .form .show {
    display: block;
}

#contact .form .validation {
    color: red;
    display: none;
    margin: 0 0 20px;
    font-weight: 400;
    font-size: 13px;
}

#contact .form input,
#contact .form textarea {
    border-radius: 0;
    box-shadow: none;
}

#contact .form button[type="submit"] {
    background: #3E9C50;
    border: 0;
    padding: 10px 24px;
    color: #fff;
    transition: 0.4s;
}

#contact .form button[type="submit"]:hover {
    background: #4874C2;
}

@media (max-width: 768px) {
    #contact {
        padding-bottom: 850px;
    }
}

@media (max-width: 321px) {
    #contact .social i {
        font-size: 30px;
    }
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

#footer {
    background: #111;
    position: relative;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
    overflow: hidden;
    padding: 30px 0;
    color: #fff;
}

#footer .copyright {
    text-align: center;
}

#footer .credits {
    padding-top: 10px;
    text-align: center;
    font-size: 13px;
    color: #ccc;
}

/*--------------------------------------------------------------
# Footer-Intern
--------------------------------------------------------------*/

#footer-intern {
    background: #111;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
    overflow: hidden;
    padding: 30px 0;
    color: #fff;
}

#footer-intern .copyright {
    text-align: center;
}

#footer-intern .credits {
    padding-top: 10px;
    text-align: center;
    font-size: 13px;
    color: #ccc;
}
